.account-manage-container {
	text-align: center;
	padding-top: 80px;
}

.account-title {
	font-size: 24px;
	margin-bottom: 40px;
}

.account-form {
	display: inline-block;
	text-align: left;
	width: 300px;
}

.account-label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
}

.account-select,
.account-input {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.account-save-btn {
	width: 100%;
	padding: 14px;
	background-color: #6A5ACD; /* 보라색 */
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.account-save-btn:hover {
	background-color: #5941A9; /* 보라 hover 효과 */
}
