<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cdtrade.mapper.SaleMapper">
	<!-- 
		Sales getSalesByNo(int no);
	 -->
	 <select id="getSaleByNo" resultType="Sale">
	 	select
	 		A.ALBUM_TITLE	as "ALBUM.title"
	 		, A.ARTIST_NAME as "ALBUM.artistName"
	 		, S.SALE_IS_OPENED as isOpened
	 		, S.SALE_PRICE as price
	 		, S.SALE_PHOTO_PATH as photoPath
	 		, A.ALBUM_NO as "ALBUM.no"
	 		, U.ACCOUNT_NUMBER as "USER.accountNumber"
	 		, U.USER_NAME as "USER.name"
	 	from
	 		sales S, albums A, users U
	 	where
	 		S.SALE_NO = #{no}
	 		and S.ALBUM_NO = A.ALBUM_NO
	 		and S.USER_NO = U.USER_NO
	 
	 </select>

	
</mapper>
