<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cdtrade.mapper.SalesMapper">
<insert id="insertSale" parameterType="Sales">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
		select SEQ_SALE_NO.nextval from dual
	</selectKey>
	
	insert into Sales
	(sale_no
   , sale_description
   , sale_photo_path
   , sale_price
   , sale_is_opened
   , sale_is_sold 
   , view_count
   , sale_updated_at
   , sale_created_at
   , album_no
   , user_no
    )
    values 
    (SEQ_SALE_NO.nextval
  , #{description}
  , #{photoPath}
  , #{price}
  , #{isOpened}
  , #{isSold}
  , #{viewCount}
  , #{updatedAt}
  , #{createdAt}
  , #{album.no}
  , #{user.no}
    )
</insert>
	
<select id="getSaleBySaleNo" resultType="Album">
	select sale_no					as no
  		 , sale_description			as description
   		 , sale_photo_path			as photoPath
   		 , sale_price				as price
   		 , sale_is_opened			as isOpened
   		 , sale_is_sold 			as isSold
   		 , view_count				as viewCount
   		 , sale_updated_at			as updatedAt
   		 , sale_created_at			as createdAt
   		 , album_no					as albumNo
  		 , user_no					as userNo
	from
		sales
	where
		sale_no = #{saleNo}
	
</select>
	
</mapper>
