<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- mybatis의 동작에 영향을 미치는 값 설정 -->
	<settings>
		<!-- null허용되는 컬럼에 null값이 추가될 수 있도록 한다. -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- parameterType, resultType에 사용된 자바타입의 별칭을 지정 -->
		<!-- <typeAlias alias="Board" type="kr.co.jhta.vo.Board"/> -->
		<package name="kr.co.cdtrade.vo" />
	</typeAliases>
	<!-- 데이터베이스 연결정보 및 트랜잭션 정보 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="cdtrade" />
				<property name="password" value="zxcv1234" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper XML 파일 등록 -->
	<mappers>
		<mapper resource="mybatis/mappers/AlbumMapper.xml" />
		<mapper resource="mybatis/mappers/AlbumGenreMapper.xml" />
	</mappers>
</configuration>